body {
  /* color: white; */
  /* background-image: url("/img/site-art/background.jpg"); */
   line-height: 1;
}

.divider-bar {
  height: 10px;
  background-color: black;
  margin-bottom: 0px;
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 40px;
  background-color: #A7A9AC;
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 4;
    grid-gap: 10px;
    margin-right: 20px;
    align-items: center;
    justify-content: end;

}

.nav-item-home {
  grid-column-start: 2
}

.nav-item-login {
  grid-column-start: 3
}

.home-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;

}

.home-img > img {
  grid-column: 1 / 4;

  width: 100%;
  /* grid-column-start: 1;
  grid-column-end: 1 */
}

.main-info {
  display: grid;
  grid-row-start: 2;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-self: center;
  width: minmax(100px, 1fr);

}

.main-info-section-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  padding: 50px;
  /* background-color: lightgray; */
  border-radius: 25px;
  /* width: 400px; */
}
.main-info-section-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  padding: 50px;
  /* background-color: lightgray; */
  border-radius: 25px;
  /* width: 400px; */
}

.main-info-section-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
  padding: 50px;
  /* background-color: lightgray; */
  border-radius: 25px;
  /* width: 400px; */
}
